<p id="notice"><%= notice %></p>

<p>
  <strong>No local:</strong>
  <%= @local.no_local %>
</p>

<p>
  <strong>Tx direccion:</strong>
  <%= @local.tx_direccion %>
</p>

<p>
  <strong>Tx telefono:</strong>
  <%= @local.tx_telefono %>
</p>

<p>
  <strong>Tx correo:</strong>
  <%= @local.tx_correo %>
</p>

<p>
  <strong>Tx descripcion:</strong>
  <%= @local.tx_descripcion %>
</p>

<p>
  <strong>Co administrador:</strong>
  <%= @local.co_administrador %>
</p>

<%= link_to 'Edit', edit_local_path(@local) %> |
<%= link_to 'Back', locals_path %>
